 :root {
    --primary-text-color: #212121;
    --hero-background: #2F303A;
    --logo-color: #000000;
    --accent-color: #2196F3;
    --secondary-text-color: #757575;
    --background-color: #FFFFFF;
    /* font-family: 'Raleway', sans-serif;
   font-family: 'Roboto', sans-serif; */
 }

 html {
    box-sizing: content-box;
 }

 /* *,
 *::before,
 *::after {
    box-sizing: inherit;
 } */

 body {
    font-family: 'Roboto', 'sans-serif';
    font-style: normal;
    letter-spacing: 0.03em;

    color: var(--primary-text-color);
    background-color: var(--background-color);
 }

 .container.header {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 24px;
    padding-bottom: 25px;


 }

 .header nav {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 a {
    text-decoration: none;
 }

 img {
    display: block;
    width: 100%;
    height: auto;
 }

 ul,
 p,
 h1,
 h2,
 h3 {
    list-style: none;
    padding: 0;
    margin: 0;
 }

 /* загальні стилі  */
 .section {
    /* outline:solid orange  3px; */
    padding-bottom: 94px;
    padding-top: 94px;
 }

 .container {
    /* outline: solid #ff184a 4px; */

    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
 }

 /* логотип */
 .logo {
    color: var(--accent-color);

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* margin-right: 93px; */

 }

 .logo>span {
    color: var(--logo-color);
 }

 .nav-list {
    display: flex;
    margin-left: 93px;
 }

 .nav-item:not(:first-child),
 .contacts-item:not(:first-child) {
    margin-left: 50px;
 }

 /* .nav-item:nth-child(n+2) {
    margin-left: 50px;
 }

 .nav-item + .nav-item {
    margin-left: 50px;
 } */

 .contacts-list {
    display: flex;
    margin-left: auto;
 }

 .nav-link,
 .contacts-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;


 }

 .nav-link {
    color: var(--primary-text-color);

    padding-top: 32px;
    padding-bottom: 32px;


 }

 /* .email::before{
   content: '';
   margin-right: 10px;
   width: 16px;
   height: 12px;
   background-image: url('./images/svg/envelope.svg');
   background-size: contain;   
 } */

 .contacts-link {
    display: flex;
    align-items: center;
    color: var(--secondary-text-color);

 }

 .nav-link:hover,
 .nav-link:focus,
 .contacts-link:hover,
 .contacts-link:focus {
    color: var(--accent-color);
 }

 .contacts-icon {
    fill: currentColor;

    margin-right: 10px;
 }

 .contacts-icon:hover,
 .contacts-icon:focus {
    fill: var(--accent-color);
 }

 .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.20);

    z-index: 4;
 }

 
 .modal {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 528px;
    height: 581px;

    padding: 40px;

    background-color: #FFFFFF;

    z-index: 5;
 }

 .close-button {
    position: absolute;
    top: 8px;
    right: 8px;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;
    flex-shrink: 0;

    background-color: #fff;

    border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 50%;

    padding: 0;
 }

 .close-button:hover,
 .close-button:focus{
   fill: #2196F3;
 }



 .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
 }

 .form{
   text-align: center;
 }

.forms-title{
   color: #212121;
   text-align: center;
   font-size: 20px;
   font-weight: 700;
   line-height: normal;
   letter-spacing: 0.6px;

   margin-bottom: 12px;
}

.form-fields{
   margin-bottom: 20px;
}


.field{
   position: relative;

   display:flex;
   flex-direction: column;
   
}

.field:not(:last-child){
   margin-bottom: 10px;
}

.field label{
   color: var(--secondary-text-color);

   text-align: left;
   font-size: 12px;
   font-weight: 400;
   line-height: normal;
   letter-spacing: 0.12px;

   margin-bottom: 4px;
}

.field input{
   
   width: 448px;
   height: 40px;
   flex-shrink: 0;

   padding-left: 30px;

   outline: none;

   border-radius: 4px;
   border: 1px solid rgba(33, 33, 33, 0.20);
}

.field:focus-within input{
   border-radius: 4px;
   border: 1px solid #2196F3;
}

.field textarea{
   width: 448px;
   height: 120px;
   flex-shrink: 0;

   padding: 12px 16px;
   
   resize: none;
   
   outline: none;
   border-radius: 4px;
   border: 1px solid rgba(33, 33, 33, 0.20);
}

.field:focus-within textarea{
   
   border-radius: 4px;
   border: 1px solid #2196F3;
}

.field:focus-within textarea::placeholder{
   color: #2196F3;
}

.field svg{
   position: absolute;

   display: block;

   top: 30px;
   left: 12px;
}

.field:focus-within svg{
   fill: #2196F3;
}

.agree{
   width: 16px;
   height: 15px;

   margin-bottom: 30px;
   
}



.agreement{
   
   color: var(--secondary-text-color);
      
   font-size: 14px;
   font-weight: 400;
   line-height: 24px;
   letter-spacing: 0.42px;


   margin-left: 7px;
   

}

.agreement a{


   color: #2196F3;
   font-size: 14px;
   font-weight: 400;
   line-height: 24px;
   letter-spacing: 0.42px;
   text-decoration-line: underline;
   
   
}

.forms-button{
   display: block;

   color: #FFF;
   background-color: #2196F3;

   text-align: center;
   font-size: 16px;
   font-weight: 700;
   line-height: 30px;
   letter-spacing: 0.96px;

   border: none;
   border-radius: 4px;
   
   padding: 10px 52px;
   margin-right: auto;
   margin-left: auto;

   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.forms-button:hover,
.forms-button:focus{
   background-color: #188CE8;

   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

 /* Головна секція */

 .hero {
    padding-top: 200px;
    padding-bottom: 200px;

    background-color: var(--hero-background);
    background-image: url(./images/svg/Img.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }

 .hero .container {
    text-align: center;
 }

 .hero-title {
    color: var(--background-color);

    margin-left: auto;
    margin-right: auto;

    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    margin-bottom: 40px;


 }

 .hero-button {
    padding: 10px 32px;

    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.06em;

    color: var(--background-color);
    background-color: var(--accent-color);

    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

 }

 /* Переваги */

 .advantages-title {
    color: var(--background-color);
 }

 .advantages-list {
    display: flex;
    justify-content: space-between;
 }


 .advantages-item {
    width: 270px;
 }

 .icon-aerial::before {
    content: '';

    display: block;

    height: 120px;

    background-color: #F5F4FA;
    border-radius: 4px;
    background-image: url('./images/svg/aerial.svg');
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;

 }

 .icon-clock::before {
    content: '';

    display: block;

    height: 120px;
    margin-bottom: 30px;

    background-color: #F5F4FA;
    background-image: url('./images/svg/clock.svg');
    background-repeat: no-repeat;
    background-position: center;

    border-radius: 4px;

 }

 .icon-diagram::before {
    content: '';

    display: block;

    height: 120px;
    margin-bottom: 30px;

    background-color: #F5F4FA;
    background-image: url('./images/svg/diagram.svg');
    background-repeat: no-repeat;
    background-position: center;

    border-radius: 4px;

 }

 .icon-astronaut::before {
    content: '';

    display: block;

    height: 120px;
    margin-bottom: 30px;

    background-color: #F5F4FA;
    background-image: url('./images/svg/astronaut\ 1.svg');
    background-repeat: no-repeat;
    background-position: center;

    border-radius: 4px;

 }

 .advantages-list-title {

    color: var(--primary-text-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-bottom: 10px;
 }



 .advantages-text {
    color: var(--secondary-text-color);

    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
 }


 /* Що ми робимо? */

 .what-we-do-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--primary-text-color);

    margin-bottom: 50px;

 }

 .what-we-do-list {
    display: flex;
    justify-content: center;

 }

 .wwd-item:not(:first-child) {
    margin-left: 30px;
 }

 .wwd-item {
    position: relative;

    width: 370px;
 }

 .what-we-do-list div {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: rgba(47, 48, 58, 0.8);

    height: 70px;
 }

 .product {

    color: var(--background-color);

    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;

 }

 .section-our-team {
    background-color: #F5F4FA;
 }


 .our-team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--primary-text-color);

    margin-bottom: 50px;
 }

 .our-team-list {
    display: flex;
    justify-content: space-between;


 }

 .member {
    width: 270px;

    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

    padding-bottom: 30px;

    background-color: var(--background-color);
 }

 .name {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--primary-text-color);

    margin-bottom: 10px;



 }

 .team-photo {
    margin-bottom: 30px;
 }

 .role {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--secondary-text-color);
    margin-bottom: 30px;
 }

 .social-networks-list {
    display: flex;
    justify-content: center;

    gap: 10px;
 }

 .social-networks-list a {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    color: #757575;

    width: 44px;
    height: 44px;

    background-color: #fff;
 }

 .social-networks-list a:hover,
 .social-networks-list a:focus {
    transition: 0.3s;

    color: white;
    background-color: var(--accent-color);

    border-radius: 30px;
 }

 .networks-icon {
    fill: currentColor;
 }

 .section-regular-clients {
    padding: 94px 0;
 }

 .regular-clients-title {
    color: var(--primary-text-color);

    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
 }

 .clients-list {
    display: flex;
    justify-content: center;
    text-align: center;

    margin-top: 50px;
 }

 .clients-list .list-item:not(:first-child) {
    margin-left: 30px;
 }

 .clients-icon {
    fill: var(--secondary-text-color);

    padding: 16px 32px;

    border: 1px solid #757575;
    border-radius: 4px;
 }

 .clients-list a:hover,
 .clients-list a:focus {
    transition: 0.3s;
 }

 .clients-list a:hover .clients-icon,
 .clients-list a:focus .clients-icon {
    fill: var(--accent-color);

    border: 1px solid var(--accent-color);
    border-radius: 4px;

    transition: 0.3s;
 }

 footer {
    background-color: var(--hero-background);
 }

 .footer-container {
    display: flex;
 }

 .second-container {
    margin-left: 70px;
 }

 .join-us {
    color: #FFFFFF;

    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;

    margin-bottom: 20px;
 }

 .footer-social-networks-list {
    display: flex;
 }



 .footer-social-networks-list .list-item:not(:first-child) {
    margin-left: 10px;
 }

 .footer-social-networks-list a {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    color: #FFFFFF;
    background-color: #ffffff1a;

    border-radius: 30px;
 }

 .footer-social-networks-list a:hover,
 .footer-social-networks-list a:focus {
    transition: 0.3s;
    background-color: var(--accent-color);

    border-radius: 30px;
 }

 .footer-social-networks-list .networks-icon {
    fill: currentColor;

    padding: 12px;
 }

 .footer-logo>span {
    color: var(--background-color);
 }

 .footer-logo {
    color: var(--accent-color);

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;

 }


 .address {
    color: var(--background-color);

    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;

    margin-top: 20px;
    margin-bottom: 9px;
 }

 .footer-link {
    color: rgba(255, 255, 255, 0.6);

    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
 }

 .footer-list .list-item:not(:last-child) {
    margin-bottom: 9px;
 }

 .footer {
    padding-top: 60px;
    padding-bottom: 60px;
 }