.advantages-title {
    color:  $backgroundColor;
  }
  
  .advantages-list {
    @media screen and (min-width:$tablet){  
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }

    @media screen and (min-width:$desktop){
      justify-content: space-between; 
    }

  }
  
  .advantages-item {
    @media screen and (min-width:$mobile){
      width: 450px;
    }

    &:not(:last-child){
      @media screen and (min-width:$mobile){
        margin-bottom: 30px;
      }
    }

    @media screen and (min-width:$tablet){
      margin: 15px;
      width: calc((100% - 30px * 2) / 2);
    }

    @media screen and ( min-width:$desktop){
      width: 270px;
    }
    
  }
  
  .icon-aerial::before {
    content: "";
    display: block;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    background-image: url(../images/svg/aerial.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
  }
  
  .icon-clock::before {
    content: "";
    display: block;
    height: 120px;
    margin-bottom: 30px;
    background-color: #F5F4FA;
    background-image: url(../images/svg/clock.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
  }
  
  .icon-diagram::before {
    content: "";
    display: block;
    height: 120px;
    margin-bottom: 30px;
    background-color: #F5F4FA;
    background-image: url(../images/svg/diagram.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
  }
  
  .icon-astronaut::before {
    content: "";
    display: block;
    height: 120px;
    margin-bottom: 30px;
    background-color: #F5F4FA;
    background-image: url(../images/svg/astronaut.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
  }
  
  .advantages-list-title {
    color:  $primaryTextColor;

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.42px;
    text-transform: uppercase;

    margin-bottom: 10px;

    @media screen and (max-width: 767px){
      text-align: center;
    }

  }
  
  .advantages-text {
    color: $secondaryTextColor;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
  }