footer {
    background-color: $heroBackgroundColor;
  }
  
  .footer-container{
    display: flex;
    @media screen and (max-width: 767px){
      flex-direction: column;
    }
  }  

  .first-container{
    @media screen and (max-width: 1199px ){
      text-align: center;
    }
  }
  
  .second-container{
    @media screen and (max-width:767px){
      margin-top: 60px;
    }

    @media screen and (min-width:$tablet){
      margin-left: auto;
    }
  

    @media screen and (min-width:$desktop){
      margin-left: 70px;
    }
  }  
    
    
  
  .join-us {
    color: $backgroundColor;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;

    @media screen and (max-width:1199px) {
      text-align: center;
    }
  }
  
  .footer-social-networks-list {
    display: flex;
    justify-content: center;
  }
  
  .footer-social-networks-list .list-item:not(:first-child) {
    margin-left: 10px;
  }
  
  .footer-social-networks-list a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: $backgroundColor;
    background-color: rgba(255, 255, 255, 0.1019607843);
    border-radius: 30px;

    &:hover,
    &:focus {
      transition: 0.3s;
      background-color: $accentColor;
      border-radius: 30px;
    }
  }
  
  .footer-social-networks-list .networks-icon {
    fill: currentColor;
    padding: 12px;
  }
  
  .footer-logo {
    color: $accentColor;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;

    & > span {
      color:  $backgroundColor;
    }
  }
  
  .address {
    color:  $backgroundColor;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    margin-top: 20px;
    margin-bottom: 9px;
  }
  
  .footer-link {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
  }
  
  .footer-list .list-item:not(:last-child) {
    margin-bottom: 9px;
  }
  
  .footer{
    padding: 60px 0;
  }