header{
  border-bottom: 1px solid #ECECEC;;
}

.container.header {
    position: relative;
    display: flex;
    padding-top: 24px;
    padding-bottom: 25px;

    @media screen and (min-width: $mobile) and (max-width: 767px){
      justify-content: space-between;
    }
  }


  .logo {
    color: $accentColor;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;

    & > span {
      color:$logoColor;
    }
  }

  .menu-button{
    position: absolute;
    top: 10px;
    right: 15px;

    background-color: transparent;
    border: none;

    z-index: 5;

    @media screen and (min-width:$tablet){
      display: none;
    }
  }
  
  .menu-button.is-open .close-icon{
    display: block;
  }
  
  .menu-button.is-open .open-icon{
    display: none;
  }
  
  .menu-icon{
    fill: black;
  }
  
  .mobile-menu{
    @media screen and (max-width: 767px) {
      display: none;
      position: absolute;
      z-index: 4;
      flex-direction: column;
      justify-content: space-between;
      top: 0;
      left:0;
      width: 480px;
      height: 796px;
      
      padding: 48px ;
  
      background-color: $backgroundColor;
      
    }

    &.is-open{
      display: flex;
    }
  }
  
  .close-icon{
    display: none;
  }
  

  .nav-list {
    @media screen and (min-width: $tablet) {
      display: flex;
    }

    @media screen and (min-width: $tablet)  and (max-width: 1199px){
      margin-left: 88px;
    }
    
    @media screen and (min-width: $desktop) {
      display: flex;
      margin-left: 93px;
    }
  }
  

.nav-item:not(:first-child),
.contacts-item:not(:last-child){
  @media screen  and (max-width: 767px){
    margin-top: 32px;

  }
 
  @media screen and (min-width:$tablet) {
      margin-left: 50px;
  }
}  
 
  
  /* .nav-item:nth-child(n+2) {
     margin-left: 50px;
  }
  
  .nav-item + .nav-item {
     margin-left: 50px;
  } */

  
  .contacts-item:not(:first-child){
    @media screen and (min-width:$desktop){
      margin-left: 30px;
    }
  }

  
  .contacts-list {
    display: flex;

    @media screen  and (max-width: 767px){
      flex-direction: column-reverse;
      
    }
    
    @media screen and (min-width: $tablet) {
      margin-left: auto;
      flex-direction: column;
    }

    @media screen and (min-width: $desktop) {
      margin-left: 90px;
    }
    
  }
  
  .nav-link,
  .contacts-link {

    color: #212121;
    font-size: 40px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.8px;

    @media screen  and (min-width: $tablet){
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    }
    
    
  }
  
  .nav-link {
    position: relative;
  
    color:  $primaryTextColor;
    padding-top: 32px;
    padding-bottom: 32px;

    &:hover,
    &:focus{
      color: $accentColor;
    }

  }

  @media screen and (min-width: $tablet) {
    .nav-link::after{
      content: '';
  
      position: absolute;
      left: 0;
      bottom: 5px;
  
      display: block;
  
      width: 100%;
      height: 4px;
  
      background-color: $accentColor;
      border-radius: 2px;
  
      transform: scaleX(0);
  
      transition-duration: 400ms;
      transition-delay: 150ms;
      transition-property: cubic-bezier(0.4, 0, 0.2, 1);
  
      transform: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  
    .nav-link:hover::after{
      transform: scaleX(1);
  
    }
  }

  
  .contacts-link {
    color: $secondaryTextColor;

    &:hover,
    &:focus{
      color: $accentColor;
    }
  }
  

  
  .contacts-icon {
    @media screen and (max-width:767px) {
    display: none;
  }
  
    fill: currentColor;
    margin-right: 10px;

    &:hover,
    &focus{
      color: $accentColor;
    }
  }
  