.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: $heroBackgroundColor;
    background-image: url(../images/svg/Img.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .hero .container {
    text-align: center;
  }
  
  .hero-title {
    color:  $backgroundColor;
    margin-left: auto;
    margin-right: auto;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 40px;
  }
  
  .hero-button {
    padding: 10px 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.06em;
    color:$backgroundColor;
    background-color: $accentColor;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    &:hover,
    &:focus{
      background-color: #188CE8;
    }
  }