.section-our-team {
    background-color: #F5F4FA;
  }
  
  .our-team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color:  $primaryTextColor;
    margin-bottom: 50px;
  }
  
  .our-team-list {
    
    @media screen and (min-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }

    @media screen and (min-width: $desktop){
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
    }
  }
  
  .member {
    width: 450px;
    border-radius: 0px 0px 4px 4px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

    padding-bottom: 30px;
    margin-bottom: 30px;

    background-color:  $backgroundColor;

    @media screen and (min-width: $tablet) {
      margin: 15px;
      width: calc((100% - 30px * 2) / 2);
    }

    @media screen and (min-width: $desktop){
      width: 270px;
    }
  }
  
  .name {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color:  $primaryTextColor;
    margin-bottom: 10px;
  }
  
  .team-photo {
    margin-bottom: 30px;
  }
  
  .role {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $secondaryTextColor;
    margin-bottom: 30px;
  }
  
  .social-networks-list {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .social-networks-list a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: $secondaryTextColor;
    width: 44px;
    height: 44px;
    background-color:  $backgroundColor;

    &:hover,
    &:focus {
     transition: 0.3s;
     color:  $backgroundColor;
     background-color:  $accentColor;
     border-radius: 30px;
     
   }
  }
  
  
  
  .networks-icon {
    fill: currentColor;
  }