  .buttons-list {
    display: flex;
    flex-wrap: wrap;
    @media screen and (min-width: $tablet){
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 56px;
    }
    
  }
  
  .buttons-list .list-item:not(:first-child) {
    @media screen and (min-width: $tablet) {
      margin-left: 8px;
    }
    
  }
  
  .button {
    padding: 6px 25px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.03em;
    border: none;
    background: #F5F4FA;
    border-radius: 4px;

    &:hover,
    &:focus {
      background-color: $accentColor;
      color:  $backgroundColor;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
      border-radius: 4px;
    }
  }