.section-regular-clients {
    padding: 94px 0;
  }
  
  .regular-clients-title {
    color:  $primaryTextColor;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
  }
  
  .clients-list {
    display: flex;
    justify-content: center;
    text-align: center;
    
    @media screen and (min-width: $mobile) and (max-width: 1199px){
      flex-wrap: wrap;
      margin: -15px;
    }

  }
  
  .clients-list .list-item:not(:first-child) {
    @media screen and (min-width:$desktop){
      margin-left: 30px;
    }
    
  } 

  .clients-list .list-item{
    @media screen and (min-width:$mobile){
      width: calc((100% - 15px * 4) / 2);
      margin: 15px;
    }

    @media screen and (min-width: $tablet){
      width: calc((100% - 30px * 3) / 4);
      margin: 15px;
    }
  }

  .clients-link{
    padding: 16px 32px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
  }
  
  .clients-icon {
    fill: $secondaryTextColor;
  }
  
  .clients-list a:hover,
  .clients-list a:focus {
    transition: 0.3s;
    border: 1px solid $accentColor;
    border-radius: 4px;
  }
  
  .clients-list a:hover .clients-icon,
  .clients-list a:focus .clients-icon {
    fill: $accentColor;
    transition: 0.3s;
  }