html {
    box-sizing: content-box;
  }
  
  body {
    font-family: "Roboto", "sans-serif";
    font-style: normal;
    letter-spacing: 0.03em;
    color:  $primaryTextColor;
    background-color:  $backgroundColor;
  }

  a {
    text-decoration: none;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  ul,
  p,
  h1,
  h2,
  h3 {
    list-style: none;
    padding: 0;
    margin: 0;
  }